h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  text-align: center;
}

h4 {
   font-family: 'Cabin', Helvetica, Arial, sans-serif;
   text-align: center;
}

table {
  /*border: solid 2px;*/
}

td {
  height: 20px;
  width: 20px;
  /*border: ;*/
}

.container {
  background-image: url("grassyracebackground.jpeg");
  background-size: cover;

}

.grassy{
  background-image: url("grassyracebackground.jpeg");
  background-size: cover;
}

.forest{
  background-image: url("forestgamebackground.jpeg");
  background-size: cover;
}

.table{
height:100%;
margin: 0 auto;
}

.makeblack {
   background-color: rgb(0,0,0);

}

.turtle {
  background-image: url("turtle.jpeg");
  background-size: cover;
}

.hare {
  background-image: url("hare.jpg");
  background-size: cover;
}
